header {
  background: black;
  padding: 20px;
  color: white;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.grid img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
h1 {
  text-align: center;
}
.cart {
  width: 70%;
  margin: auto;
}
.cart img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.card div {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.cart button {
  height: auto;
  padding: 10px 30px;
  border: none;
  background: yellowgreen;
}
